/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url(https://i.pinimg.com/736x/c8/46/b0/c846b0dc88d67b0c1f3373d60cb22c3f.jpg)no-repeat center center/cover;
} */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Position it at the top */
    width: 100%; /* Make it span the full width */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

nav h1 {
    color: white;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.822);
    margin: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px;
    

}

.nav-links li {
    display: inline;
    border-radius: 10px;
    padding: 4px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.822);
    transition: color 0.3s, transform 0.2s;
    margin: 10px;
    
}

.nav-links a:hover {
    color: #09efffef;
    font-size: 21px;
    transform: scale(1.05);
}

header {
    background: url('header-bg.jpg') no-repeat center center/cover;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Align content to the left */
    height: 94vh; /* Full viewport height */
}


.header .container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    height: 100%;
}

header h1 {
    font-size: 5em;
    margin: 10px;
    text-align: center;
    align-self: flex-start; 
    text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.450);
    transition: color 0.3s, transform 0.2s;
}

header .middle {
    font-size: 5em;
    margin: 10px;
    text-align: center;
    align-self: flex-start; 
    text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.450);
    transition: color 0.3s, transform 0.2s;
}

header p {
    font-size: 2em;
    margin: 9px ;
    text-align: center;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.822);
    transition: color 0.3s, transform 0.2s;
}

.card{
    display: flex;
    justify-content: center; /* Center the books horizontally */
    align-items: center; /* Center the books vertically */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    gap: 20px; /* Add some space between the books */
    padding: 10px;
}


.card h2{
    color: white;
    font-size: bolder;
    font-size: 50px;
    text-align: center;
    margin: 1px;
    margin-right: 200px;
}

.e-card {
    margin: 15px ;
    gap: 20px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(255, 255, 255, 0.986);
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 440px;
    height: 600px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-left: 90px;
    margin-top: -1em;
    padding-bottom: 1em;
    
  }
  .movie{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;

  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .desc {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 0em;
    margin-left: 10px ;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  .movies{
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .movies h2{
    margin: 20px;
    color: white;
    font-size: bolder;
    font-size: 40px;
    text-align: center;
  }

  /* Slider Container */
.slider {
    position: relative;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    height: auto;
    max-width: 1000px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Slides Wrapper */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Ensure the slides wrapper takes full width */
}

/* Individual Slide */
.slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0; /* Prevent shrinking */
}

/* Navigation Buttons */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background: rgba(0, 0, 0, 0.8);
}


.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
  
  .profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #52382f;
  }
  
  .tooltip-container:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
  }
  .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
  }
  .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all 0.3s;
  }
  
  .layer span,
  .text {
    color: #e6683c;
    border-color: #e6683c;
  }
  
  .icon:hover.layer span {
    box-shadow: -1px 1px 3px #e6683c;
  }
  .icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icon:hover .text {
    bottom: -35px;
    opacity: 1;
  }
  
  .icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
  }
  .icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
  }
  
  .instagramSVG {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .user {
    display: flex;
    gap: 10px;
  }
  .img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #e6683c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .name {
    font-size: 17px;
    font-weight: 700;
    color: #e6683c;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
  }
  .about {
    color: #ccc;
    padding-top: 5px;
  }

  .popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ebe5e5;
    color: #030303;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .telegram {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fffdfd;
    color: #070707;
    padding: 10px 20px;
    border-radius: 100px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .card1 {
    max-width: fit-content;
    border-radius: 15px;
    display: inline;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
      inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
  }
  
  .card1:hover {
    animation: ease-out 5s;
    background: rgba(173, 173, 173, 0.05);
  }
  
  .card1 ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 2em;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .card1 ul li {
    cursor: pointer;
  }
  
  .svg {
    transition: all 0.3s;
    /* if you find some problems change w - h : 30px*/
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    fill: currentColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  }
  
  .text {
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: bolder;
    transition: all 0.3s;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
      -10px 0 1px rgba(153, 153, 153, 0.2),
      inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
  }
  
  /*isometric prooyection*/
  .iso-pro {
    transition: 0.5s;
  }
  .iso-pro:hover a > .svg {
    transform: translate(15px, -15px);
    border-radius: 100%;
  }
  
  .iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
  }
  
  .iso-pro:hover .svg {
    transform: translate(5px, -5px);
  }
  
  .iso-pro span {
    opacity: 0;
    position: absolute;
    color: #1877f2;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
  }
  
  .iso-pro:hover span {
    opacity: 1;
  }
  
  .iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
  }
  
  .iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  
  .iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }

  .end {
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    /* Light black */
    color: white;
    text-align: center;
    /* border: 2px solid white; */
    border-radius: 50px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .right {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
  }
  
  .right span {
    font-size: 15px;
    color: white;
    position: relative;
    top: 2px;
    right: 3px;
  }
  
  .disclaim {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }
  
  
  

@media only screen and (max-width: 900px){
    /* Ensure no element exceeds the viewport width */
    body {
      overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  header .top,
  header .middle,
  header .bottom {
      font-size: 5em; /* Adjust font size for smaller screens */
      margin: 0 auto; /* Center the text */
      text-align: center;
  }

  header p {
      font-size: 2em;
      margin: 10px auto;
      text-align: center;
  }

  nav {
      position: fixed;
      width: 100%; /* Ensure the navbar spans the full width */
  }

  .nav-links {
      display: none; /* Hide links for smaller screens */
  }

  .card {
      display: flex;
      flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
      justify-content: center;
      padding: 10px;
  }
  .card h2{
      font-size: 40px;
      display: block;
      margin: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

  .e-card {
      width: 90%; /* Make cards responsive */
      max-width: 250px; /* Set a maximum width */
      margin: 1px auto; /* Center the cards */
  }

  .slider {
      width: 90%; /* Ensure the slider spans the full width */
      margin: 0 auto;
  }

  .slides img {
      width: 100%; /* Ensure images are responsive */
      height: auto;
  }

  .end {
    margin: 10px;
    padding: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  .end p{
    font-size: 18px;
  }
  
  .end .right {
    text-align: center;
    font-size: 8px;
    margin-top: 0px;
  }
  
   .right span {
    font-size: 15px;
    color: white;
    position: relative;
    top: 2px;
    right: 3px;
  }
  .end h6{
    font-size: 20px;
    margin: 0px;
  }
  .end .disclaim {
    text-align: center;
    font-size: 10px;
      }
}

@media only screen and (max-width: 600px) {
  /* Ensure no element exceeds the viewport width */
  body {
      overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  header .top,
  header .middle,
  header .bottom {
      font-size: 2em; /* Adjust font size for smaller screens */
      margin: 0 auto; /* Center the text */
      text-align: center;
  }

  header p {
      font-size: 0.8em;
      margin: 10px auto;
      text-align: center;
  }

  nav {
      position: fixed;
      width: 100%; /* Ensure the navbar spans the full width */
  }
  nav h1{
    font-size: 30px;
  }

  .nav-links {
      display: none; /* Hide links for smaller screens */
  }

  .card {
      display: flex;
      flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
      justify-content: center;
      padding: 10px;
  }
  .card h2{
      font-size: 30px;
      display: inline;
      margin: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

  .e-card {
      width: 90%; /* Make cards responsive */
      max-width: 250px; /* Set a maximum width */
      margin: 10px auto; /* Center the cards */
  }

  .slider {
      width: 90%; /* Ensure the slider spans the full width */
      margin: 0 auto;
  }

  .slides img {
      width: 100%; /* Ensure images are responsive */
      height: auto;
  }

  .movies h2{
    margin: 20px;
    color: white;
    font-size: bolder;
    font-size: 20px;
    text-align: center;
  }
}